.validator_success {
    border: 2px solid green;
}

.validator_error {
    border: 2px solid red;
}

input {
    display: block;
    margin-bottom: 1rem;
    width: 14rem;
}
button {
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 2rem;
    
}

.error-message {
    font-size: 12px;
    color: red;
}